node_modules
dist
.env
.env.local
.DS_Store
.vercel
ios/App/Pods
ios/App/build
ios/DerivedData
android/.gradle
android/app/build
android/build
android/local.properties
android/captures
*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
xcuserdata
*.xcuserstate
